In [1]:
#importa o pandas
import pandas as pd

#carregar o dataset
file = 'TRNcod.csv'
df = pd.read_csv(file)

In [2]:
type(df)

pandas.core.frame.DataFrame

In [3]:
print(df.shape)
df.head()

(389196, 246)

,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,SEXO_1,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
0,0,1,1,1,0,0,0,0,0.135098,1,...,0,0,1,1,0,1,1,1,0,1
1,1,1,0,1,0,0,1,0,0.273504,1,...,0,1,0,1,1,0,0,0,1,0
2,2,1,0,1,0,0,1,0,0.281910,0,...,1,1,0,0,0,0,1,0,1,0
3,3,1,1,1,0,0,0,0,0.225741,0,...,1,1,0,1,1,0,1,0,1,0
4,4,1,1,0,0,0,1,0,0.480403,0,...,1,1,1,0,0,1,0,1,1,0

In [4]:
#separando os dados da classe IND_BOM_1_1
dfClass1 = df[df['IND_BOM_1_1']==1]
print(dfClass1.shape)
dfClass1.head()

(255098, 246)

,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,SEXO_1,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
1,1,1,0,1,0,0,1,0,0.273504,1,...,0,1,0,1,1,0,0,0,1,0
2,2,1,0,1,0,0,1,0,0.281910,0,...,1,1,0,0,0,0,1,0,1,0
3,3,1,1,1,0,0,0,0,0.225741,0,...,1,1,0,1,1,0,1,0,1,0
4,4,1,1,0,0,0,1,0,0.480403,0,...,1,1,1,0,0,1,0,1,1,0
5,5,0,1,1,0,0,0,1,0.219323,0,...,0,1,1,0,1,0,0,1,1,0

In [5]:
#separando os dados da classe IND_BOM_1_2
dfClass2 = df[df['IND_BOM_1_2']==1]
print(dfClass2.shape)
dfClass2.head()

(134098, 246)

,INDEX,UF_1,UF_2,UF_3,UF_4,UF_5,UF_6,UF_7,IDADE,SEXO_1,...,CEP4_7,CEP4_8,CEP4_9,CEP4_10,CEP4_11,CEP4_12,CEP4_13,CEP4_14,IND_BOM_1_1,IND_BOM_1_2
0,0,1,1,1,0,0,0,0,0.135098,1,...,0,0,1,1,0,1,1,1,0,1
10,10,1,0,1,1,0,0,0,0.654703,0,...,0,1,0,1,0,0,0,0,0,1
11,11,1,1,1,0,0,0,0,0.097444,1,...,0,1,0,1,0,1,0,1,0,1
12,12,1,0,1,0,1,0,0,0.398961,0,...,1,1,1,0,1,0,0,0,0,1
17,17,1,1,1,0,0,0,0,0.142254,0,...,1,0,0,1,0,1,0,1,0,1

In [6]:
#porcentagem de cada classe do DF
print(dfClass1.shape[0]/df.shape[0])
print(dfClass2.shape[0]/df.shape[0])

0.6554486685371895
0.34455133146281053

In [7]:
#dividindo o dataframe da classe 1 em 50% treinamento e 50% teste
from sklearn.model_selection import train_test_split
class1_train, class1_test = train_test_split(dfClass1, test_size = 0.5, random_state = 2)

In [8]:
class1_train.shape

(127549, 246)

In [9]:
class1_test.shape

(127549, 246)

In [10]:
#dividindo o dataframe de teste da classe 1 em 25% teste e 25% validaÃ§Ã£o
class1_test, class1_validation = train_test_split(class1_test, test_size = 0.5, random_state =2)

In [11]:
print(class1_test.shape)
print(class1_validation.shape)

(63774, 246)
(63775, 246)

In [12]:
#repetindo as divisÃµes para a classe 2
class2_train, class2_test = train_test_split(dfClass2, test_size = 0.5, random_state = 2)
print(class2_train.shape)
print(class2_test.shape)

(67049, 246)
(67049, 246)

In [13]:
class2_test, class2_validation = train_test_split(class2_test, test_size = 0.5, random_state = 2)

In [14]:
print(class2_test.shape)
print(class2_validation.shape)

(33524, 246)
(33525, 246)

In [15]:
#aumentando o dataframe de treinamento da classe minoritÃ¡ria para o dobro do seu tamanho utilizando de repetiÃ§Ã£o
while (class2_train.shape[0] < class1_train.shape[0]):
    class2_train = class2_train.append(class2_train)

print(class2_train.shape)

(134098, 246)

In [16]:
#removendo dados excedentes
class2_train = class2_train.head(class1_train.shape[0])
print(class1_train.shape[0])
print(class2_train.shape[0])

127549
127549

In [17]:
#repetindo o processo para o dataframe de validaÃ§Ã£o
while (class2_validation.shape[0] < class1_validation.shape[0]):
    class2_validation = class2_validation.append(class2_validation)

print(class2_validation.shape)

(67050, 246)

In [18]:
class2_validation = class2_validation.head(class1_validation.shape[0])
print(class1_validation.shape[0])
print(class2_validation.shape[0])

63775
63775